.welcome-block-edit {
    padding: 1em;
    border: 1px solid #f79018;
    background-color: #f7901861;
    font-size: 0.9em;
}

.welcome-block-edit .rich-text.is-selected{
    border-radius: 4px;
    border-color: #007cba;
    box-shadow: 0 0 0 1px #007cba;
    outline: 2px solid transparent;
}

.welcome-block-edit ol {
    margin-left: 2em;
}

.welcome-block-edit textarea {
    background-color: transparent;
}
