.welcome-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 400px);
    font-size: 0.9em;
}

.welcome-block > div {
    max-width: 600px;
    padding: 1em;
    border: 1px solid #f79018;
    background-color: #f7901861;
}

.welcome-block h4{
    margin: 0 0 1rem;
}
