#menu-left::-webkit-scrollbar {
    width: 10px;
}

#menu-left::-webkit-scrollbar-thumb {
    border-width: 3px;
}

#menu-left::-webkit-scrollbar-track {
    border: 0;
}

#menu-left {
    position: sticky;
    top: 0;
    display: none;
    max-width: 300px;
    color: #616161;
    background-color: #f9f9f9;
    font-weight: 500;
    overflow-x: hidden;
    overflow-y: visible;
    line-height: 1.8;
    padding-right: 0;
    border-right: 1px solid #d7d7d7;
    z-index: 100;
    -ms-overflow-style: none;
}

#menu-left > div {
    margin-left: -1em;
    padding-top: 0.5em;

}

#menu-left ul {
    list-style: none;
    padding-left: 0;
}

#menu-left ul > li {
    padding-left: 0.5em;
}

#menu-left ul li li:not(:first-child) {
    display: none;
}

#menu-left > div > ul > li > ul > li:first-child{
    margin-left: -0.5em;
    padding-left: 1em;
}

#menu-left ul ul ul ul li:only-child{
    margin-left: -1.5em;
    padding-left: 4em;
}

#menu-left p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#menu-left a {
    color: #616161;
}

#menu-left a:only-child {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

#menu-left a:hover {
    color: #d87400;
    text-decoration: none;
}

#menu-left li.active-link {
    background-color: #f8a238;
}

#menu-left li.active-link a {
    color: #ffffff;
}

#menu-left .btn-expand {
    float: left;
    margin-top: .1em;
    font-size: 1.5em;
    padding-right: 1.3em;
}

#menu-left .btn-expand:hover {
    color: black;
    cursor: pointer;
}

#menu-left .btn-expanded {
    -webkit-transform: rotate(90deg) translateX(5px);
    -ms-transform: rotate(90deg) translateX(5px);
    transform: rotate(90deg) translateX(5px);
}

#menu-left .blockchain-icon {
    width: 1em;
    height: 1em;
    margin-right: .5em;
    margin-bottom: 0.25em;
    vertical-align: middle;
}

@media (max-width: 768px) {
    #menu-left > div {
        margin-left: 0;
    }

    .left-menu-full-screen {
        position: absolute !important;
        right: 0;
        padding: 0 !important;
        height: 100% !important;
        width: 100%;
        max-width: none !important;
        z-index: 9999;
    }
}