.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

.versions dl {

}

.versions dt {
    padding: 0.5em 0;
    margin-left: 3em;
}

.versions dd {
    border-left: 5px solid #d87400d6;
    padding-left: 1em;
    margin-left: 9em;
    font-size: .8em;
    font-style: italic;
}

@media (max-width: 768px) {
    .versions dt{
        padding: 0.3em 0;
        margin-left: 1.5em;
    }

    .versions dd {
        padding-left: .5em;
        margin-left: 4.5em;
    }
}